{
  "root": true,
  "env": {
    "browser": true,
    "es2022": true,
    "node": true
  },
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "parserOptions": {
    "ecmaVersion": "latest",
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "ignorePatterns": ["dist", "storybook-static", "coverage", "node_modules"],
  "overrides": [
    {
      "files": ["*.config.ts", ".storybook/*.ts"],
      "rules": {
        "@typescript-eslint/consistent-type-imports": "off"
      }
    }
  ]
}
